---
import { parse, isBefore } from 'date-fns';
import Headshot from '../../components/Headshot.jsx'
import Layout from '../../layouts/Layout.astro';

const posts = await Astro.glob('./*.md')
  .then(posts => posts
    .map(({ frontmatter, url }) => ({
      title: frontmatter.title,
      date: parse(frontmatter.date, 'MMMM d, yyyy', new Date()),
      href: url
    }))
    .sort((a, b) => {
      if (isBefore(a.date, b.date)) return 1;
      if (isBefore(b.date, a.date)) return -1;
      return 0;
    })
  );
const date = new Date();
const oneDay = 24 * 60 * 60 * 1000;
---

<Layout content={{ title: 'Haiku' }}>
  <ul>
    {posts.map(post => {
      const diff = Math.abs(date.getTime() - post.date.getTime()) / oneDay;
      return (
        <li>
          <p>
            <a href={post.href}><strong>{post.title}</strong> — <em>{Math.round(diff)} day ago</em></a>
          </p>
        </li>
      );
    })}
  </ul>
</Layout>