---
const { content } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content={content.description || 'Student from Washington State passionate about HCI research and open source.'}
    />
    <meta name="author" content="Aiden Bai" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@300;400;500;600;700&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png" />
    <style is:global>
      @import "../styles/global.css";
    </style>

    <title>{content.title}</title>
  </head>
  <body>
    <div class="glow"></div>
    <div class="container">
      <h2 class="header">
        <a href="/" class="headshot">
          <img alt="image" class="headshot" src="/img/favicon.png" loading="lazy" decoding="async" />
        </a>
        {content.title}
      </h2>

      <article>
        <p><slot /></p>
      </article>

      <p class="footer">
        <span>
          <abbr
            title="This site and all its content are licensed under a MIT License."
            >made w/ ♥</abbr
          >
          by <a class="email" href="mailto:aiden.bai05@gmail.com">Aiden Bai.</a>
        </span>
        <span class="home"><a href="/">← go home</a></span>
      </p>
    </div>

    <script>
      import { router } from 'million/router';
      router('.container');
    </script>
  </body>
</html>
